
# https://gist.github.com/GhostofGoes/94580e76cd251972b15b4821c8a06f59

# Editors
.vscode/
.idea/

# Logfiles
**/*.log

# Prettier
.cache/

# Build results
dist/

# Dependency directories
node_modules/

# Mac/OSX
.DS_Store

